<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NonBlocking</servlet-name>
        <servlet-class>servlets.NonBlocking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadingListener</servlet-name>
        <servlet-class>servlets.ReadingListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadNonBlocking</servlet-name>
        <servlet-class>servlets.ReadNonBlocking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NonBlocking</servlet-name>
        <url-pattern>/NonBlocking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadingListener</servlet-name>
        <url-pattern>/ReadingListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadNonBlocking</servlet-name>
        <url-pattern>/ReadNonBlocking</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
